/*==================
	SLIDER SECTION
====================*/

#mu-slider {
  display: inline;
  float: left;
  margin-top: 90px;
  width: 100%;
  position: relative;
}

.mu-slider-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-top-slider {
  display: inline;
  float: left;
  width: 100%;
}

.mu-top-slider-single {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

.mu-top-slider .mu-top-slider-single:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.mu-top-slider .mu-top-slider-single img {
  width: 100%;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content {
  position: absolute;
  left: 15%;
  top: 30%;
  right: 15%;
  text-align: center;
  z-index: 99;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
  font-family: "Tangerine", cursive;
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}

.mu-top-slider .slick-prev::before {
  content: "\f177";
  font-family: fontAwesome;
}

.mu-top-slider .slick-next::before {
  content: "\f178";
  font-family: fontAwesome;
}

.mu-top-slider .slick-prev,
.mu-top-slider .slick-next {
  background-color: transparent;
  border: 2px solid #888;
  height: 60px;
  top: 50%;
  width: 70px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-top-slider .slick-prev::before,
.mu-top-slider .slick-next::before {
  color: #888;
}

.mu-top-slider .slick-prev:hover,
.mu-top-slider .slick-prev:focus,
.mu-top-slider .slick-next:hover,
.mu-top-slider .slick-next:focus {
  color: #fff;
}

.mu-top-slider .slick-prev:hover::before,
.mu-top-slider .slick-prev:focus::before,
.mu-top-slider .slick-next:hover::before,
.mu-top-slider .slick-next:focus::before {
  color: #fff;
}

.mu-top-slider .slick-prev {
  left: 20px;
}

.mu-top-slider .slick-next {
  right: 20px;
}

.mu-top-slider .slick-dots {
  bottom: 20px;
}

.mu-top-slider .slick-dots li button {
  border-radius: 50%;
}

.mu-top-slider .slick-dots li button::before {
  color: transparent;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-top-slider .slick-dots li.slick-active button::before {
  color: transparent;
  border-radius: 50%;
  opacity: 1;
}



/*==================
	ABOUT US SECTION
====================*/

#mu-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-about-us-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 15px;
  width: 100%;
}

.mu-about-us-right ul {
  margin-bottom: 20px;
  padding-left: 25px;
}

.mu-about-us-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}

.mu-about-us-right ul li:before {
  content: "\f0da";
  font-family: fontAwesome;
  margin-right: 10px;
}

.mu-about-us-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 15px;
  width: 100%;
}




/*==================
 COUNTER SECTION
====================*/

#mu-counter {
  background-attachment: fixed;
  background-image: url("../../img/counter-bg.jpeg");
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 100px 0;
  float: left;
  width: 100%;
}

.mu-counter-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-nav {
  display: inline-block;
  width: 100%;
}

.mu-counter-nav li {
  display: inline-block;
}

.mu-counter-nav li:last-child {
  border-right: none;
}

.mu-counter-nav li .mu-single-counter {
  color: #fff;
  display: inline;
  float: left;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}

.mu-counter-nav li .mu-single-counter span {
  font-family: "Tangerine", cursive;
  font-size: 40px;
}

.mu-counter-nav li .mu-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.mu-counter-nav li .mu-single-counter h3 span {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.mu-counter-nav li .mu-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}

.mu-counter-nav li .mu-single-counter p {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}



/*==================
 GALLERY SECTION
====================*/

#mu-gallery {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-gallery-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-gallery-content {
  display: inline;
  float: left;
  width: 100%;
}

.mu-gallery-body {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.mu-single-gallery {
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 33.33%;
}

.mu-single-gallery:last-child {
  margin-bottom: 0px;
}

.mu-single-gallery .mu-single-gallery-item {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

.mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
}

.mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img img {

  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 28%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}



/*==================
 CONTACT SECTION
====================*/

#mu-contact {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-contact-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-contact-left {
  display: inline;
  float: left;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.mu-contact-left .form-group {
  margin-bottom: 25px;
}

.mu-contact-left .form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.mu-contact-form input[type="text"],
.mu-contact-form input[type="email"] {
  color: #000;
  border-radius: 0;
  height: 40px;
}

.mu-contact-form input[type="text"]:focus,
.mu-contact-form input[type="email"]:focus {
  box-shadow: none;
}

.mu-contact-form textarea {
  color: #000;
  border-radius: 0;
  padding: 10px;
}

.mu-contact-form textarea:focus {
  box-shadow: none;
}

.mu-contact-right {
  display: inline;
  float: left;
  padding: 0 30px;
  width: 100%;
}

.mu-contact-right .mu-contact-widget {
  display: inline;
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

.mu-contact-right .mu-contact-widget h3 {
  margin-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.mu-contact-right .mu-contact-widget > p {
  letter-spacing: 0.5px;
  line-height: 26px;
}

.mu-contact-right .mu-contact-widget address {
  margin-top: 20px;
}

.mu-contact-right .mu-contact-widget address p {
  letter-spacing: 0.5px;
}

.mu-contact-right .mu-contact-widget address p i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.mu-contact-right .mu-contact-widget address p span {
  display: inline-block;
  margin-right: 20px;
  min-width: 130px;
}

#form-messages {
  margin-bottom: 10px;
    background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

/*==================
 MAP SECTION
====================*/

#mu-map {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}

#mu-map iframe {
  width: 100%;
  height: 100%;
}