
body {
  background-color: #ffffff;
  font-family: "Prata", serif;
  color: #333333;
  font-size: 15px;
  overflow-x: hidden;
  line-height: 24px;
}

.no-padding {
  padding: 0;
}


a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}

.mu-readmore-btn {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 35px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-readmore-btn::after {
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mu-readmore-btn:hover, 
.mu-readmore-btn:focus {
  color: #fff;
}

.mu-readmore-btn:hover::after, 
.mu-readmore-btn:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}

.mu-browsmore-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 12px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-browsmore-btn:hover, 
.mu-browsmore-btn:focus {
  color: #fff;
}

.mu-send-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-send-btn:hover, 
.mu-send-btn:focus {
  color: #fff;
}


/*==================
 HEADER SECTION
====================*/

#mu-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}


/*==================
 NAVBAR SECTION
====================*/
.mu-main-navbar {
  background-color: transparent;
  border: none;
  padding: 20px 0;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-main-navbar .mu-main-nav {
  font-family: "Open Sans", sans-serif;
}

.mu-main-navbar .mu-main-nav li a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-main-navbar .mu-main-nav .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
}

.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}

.mu-main-navbar .navbar-header .navbar-brand {
  color: #333;
  display: inline-block;
  font-weight: 700;
  font-size: 35px;  
  padding: 0;
  margin-top: 16px;
  height: 34px;
  width: 180px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-main-navbar .navbar-header .navbar-brand img {
  margin-top: -10px;
}


.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.mu-main-navbar .navbar-header .navbar-brand-small span {
  margin-top: -4px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}


/*scrol to top*/

.scrollToTop {
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 30px;
  line-height: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 55px;
  border-radius: 50%;
}


.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}


.mu-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.mu-title .mu-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}

.mu-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}

/*==================
 FOOTER SECTION
====================*/

#mu-footer {
  background-color: #6eb3d8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

.mu-footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-footer-social {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.mu-footer-social a {
  background-color: #ff871c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  margin: 5px;
  text-align: center;
  width: 45px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}

.mu-footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}

.mu-footer-copyright p a {
  color: #fff;
}


/*==================
 RESPONSIVE DESIGN
====================*/

@media (max-width: 1199px) {

  .mu-main-navbar .mu-main-nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    position: absolute;
    left: 5%;
    top: 15%;
    right: 5%;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
    font-size: 80px;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 55px;
    line-height: 70px;
  }

  .mu-cbd-content {
    padding: 0;
  }

  .mu-algues-content {
    padding: 0;
  }

  .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0 50px;
  }

  .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social {
    padding: 23px 5px;
  }

  .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
  padding-top: 26%;
  }

  
}


@media (max-width: 991px) {


  .mu-main-navbar .mu-main-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }

  .mu-top-slider-content .mu-cbd-btn {
    display: none;
  }

  .mu-about-us-left,
  .mu-cbd-form {
    text-align: center;
  }
  
  .mu-cbd-right {
    margin-top: 60px;
  }
  
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
    padding: 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 22%;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0 60px;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p::before {
    top: 40%;
  }


}


@media (max-width: 767px) {

  #mu-header {
    padding: 0 15px;
  }

  .navbar-default .navbar-toggle {
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: #fff;
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: none;
  }
   
}


@media (max-width: 640px) {
  
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 50px;
    line-height: 75px;
  }

 .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    top: 18%;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-categories li a {
    font-size: 16px;
    margin: 0 5px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 18%;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0;
  }

  .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p {
    font-size: 16px;
    line-height: 30px;
  }

  #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a {
    margin: 0 3px;
    padding: 3px 0;
    width: 30px;
  }

  .mu-top-slider .slick-dots {
    display: none !important;
  } 

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
    font-size: 45px;
    line-height: 35px;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 0 5px;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 30px;
    line-height: 50px;
  }

}


@media (max-width: 480px) {

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
   top: 20%;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
    display: none;
  }
 
  .mu-cbd-content p {
    padding: 0;
  }

  .mu-algues-content p {
    padding: 0;
  }

  .mu-title {
    margin-bottom: 0;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }

  #mu-subscription .mu-subscription-area {
    padding: 0;
    text-align: center;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form .mu-readmore-btn {
    width: auto;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery {
    width: 100%;
  }

   #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 30%;
  }

  #mu-map {
    height: 350px;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-categories li {
    margin-bottom: 10px;
  }
  
  
}

@media (max-width: 360px) {

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 22px;
    line-height: 30px;
  }

  .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
    font-size: 30px;
    line-height: 25px;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-categories li {
    margin-bottom: 12px;
  }

  #mu-about-us {
    padding: 100px 0 50px;
  }

  #mu-categories {
    padding-bottom: 0px;
  }

  #mu-cbd .mu-cbd-area .mu-cbd-content {
    padding: 0;
  }

  #mu-algues .mu-algues-area .mu-algues-content {
    padding: 0;
  }

  .mu-opening-hour h2 {
    font-size: 42px;
    padding-bottom: 10px;
  }

  .mu-title h2 {
    font-size: 28px;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p {
    font-size: 16px;
    line-height: 24px;
  }
  
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    text-align: center;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address {
    text-align: left;
  }

  #mu-contact {
    padding: 100px 0 50px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 27%;
  }

  #mu-footer .mu-footer-area .mu-footer-social a {
    font-size: 18px;
  }

  .mu-menu-item-nav li {
    text-align: center;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left {
    height: auto;
    width: 100%;
    margin-right: 0;
    float: left;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a{
    display: inline-block;
    margin-bottom: 10px;
  }

  #mu-categories .mu-categories-area .mu-categories-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a img {
    display: inline-block;
  }

  #mu-map {
    height: 250px;
  }

  .mu-contact-form .mu-send-btn {
    width: 100%;
  }

}


@media (max-width: 320px) {

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 25.5%;
  }

  
}

/*==================
 TABLEAU D'OPTIONS DE PRIX
====================*/


.options-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.options-table td {
    padding: 4px;
    text-align: center;
}

.options-table th {
    background-color: #f2f2f2;
    padding: 4px;
    text-align: center;
}

.mu-menu-price {
    font-weight: bold;
    color: #3498db; /* Couleur du prix, ajustez-la selon votre palette de couleurs */
}
